body {
    background-image: url(../pixel-art_P7_720x448.gif);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
}

img {
    max-width: 200px;
    max-height: 300px;
    transform: rotate(-90deg);
    -webkit-animation: swim 1.5s steps(15) infinite;
    -moz-animation: swim 1.5s steps(15) infinite;
     -ms-animation: swim 1.5s steps(15) infinite;
      -o-animation: swim 1.5s steps(15) infinite;
         animation: swim 1.5s steps(15) infinite;
}