
body {
    background-image: url(../pixel-art_P7_720x448.gif);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
}

img {
    max-width: 200px;
    max-height: 300px;
    transform: rotate(-90deg);
    animation: swim 3s ease-in-out infinite;
}

@keyframes swim {
    0% {
      transform: translatey(-180px);
    }
    50% {
      transform: translatey(-20px);
    }
    100% {
      transform: translatey(0px);
    }
}