
body {
    background-image: url(../pixel-art_P7_720x448.gif);
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    min-width: 100%;
    min-height: 100%;
}

img {
    max-width: 200px;
    max-height: 300px;
    transform: rotate(-90deg);
    animation: swim 3s ease-in-out infinite;
}

@keyframes swim {
    0% {
      transform: translate(0,-400px);
    }
    5% {
      transform: translate(0,-125px);
    }
    10% {
      transform: translate(0,0px);
    }
    50% {
      transform: translate(0,125px);
      }
    75% {
      transform: translate(0,250px);
    }
    100% {
      transform: translate(0,600px);
    }
      
}