@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Code", sans-serif;
  }


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../pixel-art_P7_720x448.gif");
    background-size: 100%;
    background-repeat: no-repeat;
}

.header-container {
    margin: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

header {
    margin: 3vh;
}

.img-character {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.character {
    height: 300px;
    width: 300px;
}

.header-container {
    font-family: 'Waiting for the Sunrise', cursive; 
    font-size:30px; 
    margin: 10px 50px; 
    letter-spacing: 6px; 
    font-weight: bold;
  }


