

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
  }


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: black;
}

.header-container {
    display: flex;
    flex-grow: 5;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 35px; 
    margin: 10px 50px; 
    letter-spacing: 6px; 
}

.character {
    margin-top: 70%;
    height: 450px;
    width: 300px;
}

button {
    position: fixed;
    display: block;
    border-radius: 20px;
    font-size: 28px;
    color: black;
    border: 2px solid black;
}

