@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../pixel-art_P7_720x448.gif");
    background-size: 100%;
    background-repeat: no-repeat;
}
span {
    display: none;
    position: absolute;
}

.container {
    margin: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#start-button {
    margin-top: 25vh;
    
}